server:
  port: 7772
spring:
  application:
    name: order-service
  datasource:
    url: jdbc:mysql://localhost:3306/order?useSSL=false
    username: order
    password: e6ZhRGBE6SKYhFXA
    driver-class-name: com.mysql.jdbc.Driver

mybatis:
  type-aliases-package: org.xr.order.entity
  configuration:
    map-underscore-to-camel-case: true
logging:
  level:
    org.xr: debug
  pattern:
    dateformat: MM-dd HH:mm:ss:SSS
pattern:
  name: 本地环境local

#feign的日志
feign:
  client:
    config:
      default: # 这里用default就是全局配置，如果是写服务名称，则是针对某个微服务的配置
        loggerLevel: full
#而日志的级别分为四种：
#- NONE：不记录任何日志信息，这是默认值。
#- BASIC：仅记录请求的方法，URL以及响应状态码和执行时间
#- HEADERS：在BASIC的基础上，额外记录了请求和响应的头信息
#- FULL：记录所有请求和响应的明细，包括头信息、请求体、元数据。

